body {
    background-color: beige;
    color: black;
    background-image: url(practicerhythmriso.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
    font-family: 'Michroma', sans-serif;
}

.heading {
    margin: 1em auto;
    max-width: 600px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    text-shadow: #ff00ff 1px;
}

form {
    width: 60vw;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 100px;
}

input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 25px;
    padding: 15px 20px;
    border: 1px solid seagreen;
    background-color: antiquewhite;
    color: hotpink;
    border-radius: 8% 5px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px greenyellow inset;
}

.inline {
    width: unset;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
label {
    display: block;
    margin: 15px 0 0 0;
}

fieldset {
    border: none;
    padding: 2em;
    border-bottom: 1px solid black;
    
}

fieldset:last-of-type {
    border-bottom: none;
}

input[type=submit] {
    display: block;
    color: black;
    margin: 1em auto;
    font-size: 18px;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
    max-width: 300px;
}

input[type=range] {
    accent-color: #ff00ff;
}